body {
  background-color: rgb(192, 186, 186);
  height: 100%;
  font-family: sans-serif;
  font-style: unset;
  padding: 0px;
  font-size: 40px;
  text-indent: 250px;
}

#topo {
  height: 300px;
  width: 100%;
  display: flex;
}

.background_img{
  width: 100%;
}

.profile{
   position: relative;
   left: 00px;
   top: -110px;
}

#apresentacao{
  font-size: 30px;
  position: relative;
  top:-180px;
}

#txt1{
  position: absolute;
  color: rgb(37, 89, 167);
  top: 420px;
  font-family: 'Verdana';
  font-size: 20px;
  font-style: italic;
  text-indent: 550px;
}


#txt2{
  position: absolute;
  color: rgb(38, 0, 143);
  font-family: 'Times New Roman';
  font-size: 20px;
  font-style: normal;
  top: 480px;
}

#txt3{
  
  position: absolute;
  color: rgb(0, 78, 68);
  font-family: serif;
  font-size: 20px;
  font-style: oblique;
  top: 540px;
}

